* {
    font-family: "DM Sans", sans-serif;
}

.landingpage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aquamarine; */
    background: rgb(220,247,113);
background: linear-gradient(90deg, rgba(220,247,113,1) 0%, rgba(32,128,0,1) 100%);
    position: relative;
    right: 0;
}

.contentLandingPage{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 700px;
}

.contentLandingPage h1{
    font-size: 5rem;
    color: rgb(0, 122, 82);
}

.landingPageImg{
    position: absolute;
    top: 4;
    right: 6%;
    width: 600px;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0, 0px) rotate(0deg); }
    50% { transform: translate(0, 15px) rotate(10deg); }
    100% { transform: translate(0, -0px) rotate(0deg); }    
}

.HomeWh0WeAre{
    background-color: greenyellow;
}

.HomeCarousel{
    background-color: green;
}