.hero-section {
    background-image:url('../img/img1.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    color: #000000;
    text-align: center;
    padding: 100px 0;
    height: 90vh;
  }
  
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero-section button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-section button:hover {
    background-color: #e68a00;
  }
  