@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Rock+Salt&display=swap');

.proMritkala {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 20px;
}

.mritkalaLogo {
    width: 300px;
    height: 300px;
}

.mritkalaLogo img {
    width: 100%;
}

.aboutMritkala {
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.aboutMritkala h1{
    font-size: 3rem;
    color:#0B4619;
    text-align: center;
}

.aboutMritkala p{
    padding: 0 40px;
    font-size: 1.2rem;
    text-align: center;
}

.imgAbout {
    height: 300px;
    width: 500px;
}

.imgAbout img {
    width: 100%;
}


.imgSectionMritkala{
    background-image:linear-gradient(#0b46193b,#0b461942), url(../img/TulsiPot1.413c2e69.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgSectionMritkala h1{
    font-family: "Protest Revolution", sans-serif;
    text-shadow: 8px 1px 10px rgb(0, 0, 0);
    font-size:9rem;
    color: #FFCC1D;
}

.productSectionMritkala{
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
  

}

.productSectionMritkala h1{
    color: #0B4619;
}
.productSectionMritkala p{
    color: #0B4619;
    padding: 30px;
    font-size: 1.2rem;
    text-align: center;
}

.ProductImgMritkala{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 700px;
    height: 300px;
    background-color: #F3D6C5;
}

.ProductImgMritkala img {
    width: 400px;
    height: 300px;
    transition: transform 0.9s ease; /* Smooth transition for the transform property */
}

.ProductImgMritkala img:hover{
    transform: scale(1.4);
    width: 400px; /* Apply the scale transformation on hover */
}

.linkMritkala{
    cursor: pointer;
    font-weight: 500;
}

.linkMritkala:hover{
    color: red;
    cursor: pointer;
    font-weight: 500;
}
